<h3>ToDo List</h3>

<input type="text" placeholder="Add task" [(ngModel)]="task">
<button type="submit" (click)="addTask()">Add task</button>

<br>

<div *ngFor="let item of todoList | statusFilter: status; let i = index">
  <input type="checkbox" [(ngModel)]="item.done"> 
  <span [ngClass]="{done: item.done}"> {{ item.task }} </span>
  <button (click)="deleteTask(i)" >Delete</button>
</div>

<button (click)="status = 'all'">All</button>
<button (click)="status = 'active'">Active</button>
<button (click)="status = 'completed'">Completed</button>